# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Kdev files
.kdev/*
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cmake_multi-objectif
*.kdev4

#Others files
tsp_mo/
tsp_mo.tar.gz
tsp_multi-objectif
